<h1>Event 一覧</h1>

<div class="event">
  <%= render 'event_table' %>
  <% if current_user.authority == true%>
    <%= link_to '新規Eventの投稿', new_event_path , class:"btn btn-outline-pr btn-sm"%>
  <% end %>
  <%= paginate @events %>
</div>




