<div class="container">
  <div class="row">  
      <div class="col-7">
        <image src="images/cover-bg.jpg" alt="test" width="650" height="400"></image>
      </div>
      <div class="col-4">
        <h3>簡単な紹介</h3>
        <p>ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
        ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
        ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
        ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー</p>
      </div>
  </div>
</div>

<div class="toppage-event">
  <h2>イベント</h2>
  <%= render 'events/event_table' %>
</div>

