<div class="container">
  <div class="row">  
      <div class="col-7 toppage-image">
        <image src="images/toppage-image.jpg" alt="test" width="600" height="400"></image>
      </div>
      <div class="col-4 toppage-text">
        <h2>簡単な紹介</h2>
        <p>　慶応義塾大学韓国人留学生会は、1936年に閔丙燾(ミン・ビョンド）初代会長（当時二学年）が同学在学中の韓国人留学生38名と共に発足させ、 2013年に公認団体として認可された慶応義塾大学公認団体です。</p>
        <p>　</p>
        <p>　2019年現在、学生会は84代目となり、約200名におよぶ学部生・大学院に在学する韓国人留学生を対象とした留学生活環境の充実・向上のための支援をおこなっています。また、韓国人留学生同士や日本人学生との親睦を深めるための企画・運営をおこなっています。</p>
      </div>
  </div>
</div>

<div class="toppage-event">
  <h2>イベント</h2>
  <%= render 'events/event_table' %>
</div>

