<div class="cover">
  <div class="cover-image">
    <image src="image/cover-bg.jpg" alt="test"></image>
  </div>
  <div class="cover-contents">
    <h1>簡単な紹介</h1>
  </div>
</div>

<div class="event">
  <h1>イベント</h1>
</div>