@charset "utf-8";

/* body */
body {
  background: #EEE6CD;
}
footer {
  margin-top: 40px;
}

/* navbar */
.navbar {
  background-color: #5b5b5b;
  font-family: 'Bangers', cursive;
  font-weight:bold;
}


/* container */
.container {
  margin-top: 35px;
}

.container .col-7 {
  display: inline-block;
  margin-left: -70px;
  margin-right: 30px;
}

.container .col-4 {
  font-family: 'Bangers', cursive;
  margin-left: 30px;
  font-style: century;
  color: #C13537;
}
.container .col-4 p{
  color : #B5A89D;
}

/* toppage event */
.toppage-event {
  margin: 30px;
}
.toppage-event h2 {
  color: #DE5C4E;
  font-weight: bold;
  letter-spacing: 0.15em;
}

.toppage-event table thead{
  background-color: #27292D;
}

.toppage-event table th{
  color: #fff;
}

.toppage-event table tbody{
  background-color: #B5A89D;
}


/* event */
.event {
  margin: 30px;
}
.event h2 {
  color: #DE5C4E;
  font-weight: bold;
  letter-spacing: 0.15em;
}

.event table thead{
  background-color: #27292D;
}

.event table th{
  color: #fff;
}

.event table tbody{
  background-color: #B5A89D;
}

.event-show {
  margin: 30px;
}
.event-show table thead{
  background-color: #B5A89D;
}
.event-show table th{
  color: #fff;
}

/* user pofile */
.user-profile {
  margin-top: 20px;
}

.user-profile img{
  overflow: hidden;
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-position: center;
}
.user-profile .name {
  margin-bottom: 20px;
}
.user-profile .name h1 {
  text-shadow: 1px 1px 1px #fff;
  font-weight: bold;
}
.user-profile .status ul {
  margin: 0 auto 10px;
  padding: 0;
  display: table;
}
.user-profile .status ul li {
  width: 120px;
  padding: 5px 0;
  border-right: 1px solid #ddd;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #777;
}
.user-profile .status ul li:last-child {
  border: none;
}
.user-profile .status ul li .status-label {
  font-size: 12px;
}
.user-profile .status ul li .status-value {
  font-size: 18px;
}

/* user-message */
.message {
  margin: 30px;
}
.message h2 {
  color: #DE5C4E;
  font-weight: bold;
  letter-spacing: 0.15em;
}

.message table thead{
  background-color: #27292D;
}

.message table th{
  color: #fff;
}

.message table tbody{
  background-color: #B5A89D;
}

.message-show {
  margin: 50px;
}
.message-show table thead{
  background-color: #B5A89D;
}
.message-show table th{
  color: #fff;
}

/* button */

.btn-outline-pr{
  color:#AAD6EC;
  border-color:#AAD6EC;
}
.btn-outline-pr:hover{
  color:#fff;
  background-color:#AAD6EC;
  border-color:#AAD6EC;
}
.btn-outline-pr:active{
  color:#fff;
  background-color:#AAD6EC;
  border-color:#AAD6EC;
}

/* comment */
.comment-form{
  margin: 30px;
  margin-left: 50px;
  margin-right: 120px;
}
.comment-form h4 {
  color: #DE5C4E;
  font-weight: bold;
  letter-spacing: 0.15em;
}
.size{
  margin: 0;
  width: 85px;
  height: 85px;
}
.comment-index{
  margin: 30px;
  margin-left:50px;
}
.comment-index img{
  overflow: hidden;
  display: inline-block;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 4px solid #DE5C4E;
  background-position: center;
}
.comment-index .media-list{
  padding: 0;
}
.comment-index .media-list .media-left{
  padding-right:20px;
}

.participate-member img{
  overflow: hidden;
  display: inline-block;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 4px solid #DE5C4E;
  background-position: center;
}
  